# Server
PORT=8000
NODE_ENV=development

# Database (PostgreSQL)
PGUSER=your_pg_user
PGHOST=localhost
PGPASSWORD=your_pg_password
PGDATABASE=deprescan
PGPORT=5432

# JWT
JWT_SECRET=your_super_secret_jwt_key_min_32_chars
JWT_EXPIRES_IN=7d

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com

# ML Backend (Python FastAPI deprescan-ai)
ML_API_URL=https://wildnrfm-deprescan.hf.space/
# ML_API_URL=http://localhost:8001

# Frontend URL (untuk CORS whitelist)
FRONTEND_URL=http://localhost:5173

# Email - Gmail API OAuth2 (untuk fitur Lupa Password)
OAUTH_CLIENT_ID=your_oauth_client_id.apps.googleusercontent.com
OAUTH_CLIENT_SECRET=your_oauth_client_secret
OAUTH_REFRESH_TOKEN=your_oauth_refresh_token
OAUTH_EMAIL=deprescan@gmail.com
EMAIL_FROM=DepreScan <deprescan@gmail.com>